<div class="article-detail-block">
  <div class="article-detail-container">
    <img
      src="/assets/bigart3.png"
      alt="article-big-photo"
      class="article-big-photo"
    />
    <img
      src="/assets/art3.png"
      alt="article-small-photo"
      class="article-small-photo article-small-photo1"
    />
    <div class="article-detail-content">
      <span class="big-title"
        >Создаем из Флешки закриптованный "холодный" криптошелёк</span
      >
      <span class="big-create-date">20 ноя 2023</span>
      <p class="big-description1">
        Всем привет, сегодня я расскажу как мы можем создать безлимитное
        облачное хранилище файлов в Telegram, используя TeleDrive. TeleDrive -
        это опенсурс проект, альтернатива Google Drive/OneDrive/etc с
        использованием Telegram API.На форуме TeleDrive упоминался лишь один раз
        и то, там указана лишь ссылка на сайт без инструкций. Сейчас их сайт не
        работает, а инструкцию по установке приходиться смотреть через Wayback
        Machine Всем привет, сегодня я расскажу как мы можем создать безлимитное
        облачное хранилище файлов в Telegram, используя TeleDrive. TeleDrive -
        это опенсурс проект, альтернатива Google Drive/OneDrive/etc с
        использованием Telegram API.На форуме TeleDrive упоминался лишь один раз
        и то, там указана лишь ссылка на сайт без инструкций. Сейчас их сайт не
        работает, а инструкцию по установке приходиться смотреть через Wayback
        Machine Всем привет, сегодня я расскажу как мы можем создать безлимитное
        облачное хранилище файлов в Telegram, используя TeleDrive. TeleDrive -
        это опенсурс проект, альтернатива Google Drive/OneDrive/etc с
        использованием Telegram API.На форуме TeleDrive упоминался лишь
      </p>
      <p class="big-comments">Комментарии:</p>
      <div class="comments-block">
        <div *ngFor="let comment of comments" class="comment-by-user">
          <span class="username">{{ comment.username }}:</span>
          <p class="user-text">{{ comment.text }}</p>
        </div>
        <div class="write-comment">
          <input
            type="text"
            placeholder="Написать Комментарий"
            [(ngModel)]="newComment"
            (keydown.enter)="addComment()"
          />
          <div class="send-comment" (click)="addComment()">
            <img *ngIf="sendsvg" [src]="sendsvg" alt="send-arrow" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
