<div class="article-detail-block">
  <div class="article-detail-container">
    <img
      src="/assets/bigart4.png"
      alt="article-big-photo"
      class="article-big-photo"
    />
    <img
      src="/assets/art4.png"
      alt="article-small-photo"
      class="article-small-photo article-small-photo1"
    />
    <div class="article-detail-content">
      <span class="big-title"
        >Используем ASF вместо (SDA) SteamDesktopAuthenticator</span
      >
      <span class="big-create-date">19 ноя 2023</span>
      <p class="big-description1">
        Всем привет, сегодня я расскажу как мы можем создать безлимитное
        облачное хранилище файлов в Telegram, используя TeleDrive. TeleDrive -
        это опенсурс проект, альтернатива Google Drive/OneDrive/etc с
        использованием Telegram API.На форуме TeleDrive упоминался лишь один раз
        и то, там указана лишь ссылка на сайт без инструкций. Сейчас их сайт не
        работает, а инструкцию по установке приходиться смотреть через Wayback
        Machine
      </p>
      <p class="big-description2">
        Всем привет, сегодня я расскажу как мы можем создать безлимитное
        облачное хранилище файлов в Telegram, используя TeleDrive. TeleDrive -
        это опенсурс проект, альтернатива Google Drive/OneDrive/etc с
        использованием Telegram API.На форуме TeleDrive упоминался лишь один раз
        и то, там указана лишь ссылка на сайт без инструкций. Сейчас их сайт не
        работает, а инструкцию по установке приходиться смотреть через Wayback
        Machine
      </p>
      <p class="big-description3">
        Всем привет, сегодня я расскажу как мы можем создать безлимитное
        облачное хранилище файлов в Telegram, используя TeleDrive. TeleDrive -
        это опенсурс проект, альтернатива Google Drive/OneDrive/etc с
        использованием Telegram API.На форуме TeleDrive упоминался лишь
      </p>
      <p class="big-comments">Комментарии:</p>
      <div class="comments-block">
        <div class="comment-by-user">
          <span class="username">p1nkf1oyd:</span>
          <p class="user-text">
            Крутая статья Крутая статья Крутая статья Крутая статья Крутая
            статья Крутая статья Крутая статья
          </p>
        </div>
        <div class="write-comment">
          <input type="text" placeholder="Написать Комментарий" />
          <div class="send-comment">
            <img *ngIf="sendsvg" [src]="sendsvg" alt="send-arrow" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
