<div class="register-block">
  <div class="register-container">
    <p>Регистрация</p>
    <div class="auth-input-block">
      <input
        class="Login"
        type="text"
        placeholder="Логин"
        [(ngModel)]="username"
      />
      <input
        class="Password"
        type="password"
        placeholder="Пароль"
        [(ngModel)]="password"
      />
    </div>
    <div class="auth-bottom-buttons-block">
      <button class="RegisterUser" (click)="registerUser()">
        Зарегистрироваться
      </button>
    </div>
  </div>
</div>
