<div class="register-block">
  <div class="register-container">
    <p>Регистрация</p>
    <div class="auth-input-block">
      <input
        class="Login"
        type="text"
        placeholder="Логин"
        (input)="onInput($event)"
      />
      <input
        class="Password"
        type="password"
        placeholder="Пароль"
        (input)="onInput($event)"
      />
    </div>
    <div class="auth-bottom-buttons-block">
      <button class="Register" routerLink="/">Зарегистрироваться</button>
    </div>
  </div>
</div>
