<div class="blog">
  <h1>Статьи</h1>
  <div class="article-block">
    <div class="article article1" routerLink="/Article1">
      <div class="article-content">
        <img
          src="/assets/art1.png"
          alt="article-small-photo"
          class="article-small-photo article-small-photo1"
        />
        <div class="article-text-content-container">
          <span class="create-date">22 ноя 2023</span>
          <span class="article-title"
            >TeleDrive - безлимитное облачное хранилище</span
          >
          <span class="article-small-description"
            >Получаем бесплатно облачное безлимитное хранилище!</span
          >
          <div class="article-bottom-block">
            <img *ngIf="commentsvg" [src]="commentsvg" alt="comment-icon" />
            <span class="comment-value comment-value-article1">0</span>
            <div class="full-info-button-block">
              <p>Подробнее</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="article article2" routerLink="/Article2">
      <div class="article-content">
        <img
          src="/assets/art2.png"
          alt="article-small-photo"
          class="article-small-photo article-small-photo2"
        />
        <div class="article-text-content-container">
          <span class="create-date">21 ноя 2023</span>
          <span class="article-title"
            >Зарабатываем на Telegram <br />
            Ботах</span
          >
          <span class="article-small-description"
            >Подробный мануал про телеграм ботов и как на них заработать!</span
          >
          <div class="article-bottom-block">
            <img *ngIf="commentsvg" [src]="commentsvg" alt="comment-icon" />
            <span class="comment-value comment-value-article1">0</span>
            <div class="full-info-button-block">
              <p>Подробнее</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="article article3" routerLink="/Article3">
      <div class="article-content">
        <img
          src="/assets/art3.png"
          alt="article-small-photo"
          class="article-small-photo article-small-photo3"
        />
        <div class="article-text-content-container">
          <span class="create-date">20 ноя 2023</span>
          <span class="article-title"
            >Создаем из Флешки закриптованный "холодный" криптошелёк</span
          >
          <span class="article-small-description"
            >Cоздаем личный холодный кошелек с помощью флешки!</span
          >
          <div class="article-bottom-block">
            <img *ngIf="commentsvg" [src]="commentsvg" alt="comment-icon" />
            <span class="comment-value comment-value-article1">0</span>
            <div class="full-info-button-block">
              <p>Подробнее</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="article article4" routerLink="/Article4">
      <div class="article-content">
        <img
          src="/assets/art4.png"
          alt="article-small-photo"
          class="article-small-photo article-small-photo4"
        />
        <div class="article-text-content-container">
          <span class="create-date">19 ноя 2023</span>
          <span class="article-title"
            >Используем ASF вместо (SDA) SteamDesktopAuthenticator</span
          >
          <span class="article-small-description"
            >Пользуемся другим приложением для MaFile STEAM!</span
          >
          <div class="article-bottom-block">
            <img *ngIf="commentsvg" [src]="commentsvg" alt="comment-icon" />
            <span class="comment-value comment-value-article1">0</span>
            <div class="full-info-button-block">
              <p>Подробнее</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
