@import "../../styles.scss";

.blog {
  background-color: $darkgray;
  h1 {
    text-align: center;
    color: $fontcol;
    font-size: 54px;
    padding: 55px 0;
  }
  .article-block {
    display: flex;
    align-items: center;
    justify-content: center;
    .article {
      cursor: pointer;
      background-color: $lightgray;
      height: 100%;
      transition: 0.3s;
      &:hover {
        transition: 0.3s;
        opacity: 0.7;
      }
      .article-content {
        display: flex;
        flex-direction: column;
        .article-text-content-container {
          display: flex;
          flex-direction: column;
          padding: 20px 30px;
          color: $fontcol;
          span {
            max-width: 404px;
          }
          .create-date {
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            margin-bottom: 15px;
          }
          .article-title {
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            margin-bottom: 10px;
          }
          .article-small-description {
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            margin-bottom: 20px;
          }
          .article-bottom-block {
            display: flex;
            flex-direction: row;
            align-items: center;
            .comment-value {
              font-size: 20px;
              font-style: normal;
              font-weight: 600;
              margin-left: 8px;
            }
            .full-info-button-block {
              margin: 0 0 0 auto;
              p {
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
              }
            }
          }
        }
      }
    }
  }
}
