@import "../../styles.scss";

.blog {
  background-color: $darkgray;
  h1 {
    text-align: center;
    color: $fontcol;
    font-size: 54px;
    padding: 55px 0;
  }
  .article-block {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(464px, 1fr));
    gap: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 110px;
    .article {
      cursor: pointer;
      background-color: $lightgray;
      height: 100%;
      transition: 0.3s;
      max-width: 464px;
      @media screen and (max-width: 510px) {
        .article-small-photo {
          max-width: 310px;
          max-height: 120px;
        }
        .article-content {
          max-width: 310px;
        }
        .article-title br {
          display: none;
        }
      }
      &:hover {
        transition: 0.3s;
        opacity: 0.7;
      }
      .article-content {
        display: flex;
        flex-direction: column;
        .article-text-content-container {
          display: flex;
          flex-direction: column;
          padding: 20px 30px;
          color: $fontcol;
          span {
            max-width: 404px;
          }
          .create-date {
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            margin-bottom: 15px;
            @media screen and (max-width: 510px) {
              & {
                font-size: 13px;
              }
            }
          }
          .article-title {
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            margin-bottom: 10px;
          }
          .article-small-description {
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            margin-bottom: 20px;
          }
          @media screen and (max-width: 510px) {
            .article-title {
              font-size: 18px;
            }
            .article-small-description {
              font-size: 13px;
            }
          }
          .article-bottom-block {
            display: flex;
            flex-direction: row;
            align-items: center;
            .comment-value {
              font-size: 20px;
              font-style: normal;
              font-weight: 600;
              margin-left: 8px;
              @media screen and (max-width: 510px) {
                & {
                  font-size: 18px;
                }
              }
            }
            .full-info-button-block {
              margin: 0 0 0 auto;
              p {
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
              }
              @media screen and (max-width: 510px) {
                p {
                  font-size: 18px;
                }
              }
            }
          }
        }
      }
    }
  }
}

// aricle-pages

.article-big-photo {
  max-width: 985px;
}

.article-detail-block {
  background-color: $darkgray;
  display: flex;
  align-items: center;
  justify-content: center;
  .article-detail-container {
    margin: 90px 0;
    background-color: $lightgray;
    .article-detail-content {
      display: flex;
      flex-direction: column;
      color: $fontcol;
      padding: 35px 38px;
      span,
      p {
        max-width: 909px;
      }
      .big-title {
        font-size: 45px;
        font-style: normal;
        font-weight: 600;
        margin-bottom: 18px;
      }
      .big-create-date {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      .big-description1 {
        font-size: 25px;
        font-style: normal;
        font-weight: 500;
        margin-top: 35px;
      }
      .big-description2 {
        font-size: 25px;
        font-style: normal;
        font-weight: 500;
        margin-top: 35px;
      }
      .big-description3 {
        font-size: 25px;
        font-style: normal;
        font-weight: 500;
        margin-top: 35px;
      }
      .big-comments {
        font-size: 45px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-top: 40px;
      }
      .comments-block {
        display: flex;
        flex-direction: column;
        .comment-by-user {
          background-color: $darkgray;
          padding: 20px 25px;
          margin-top: 17px;
          p {
            max-width: 859px;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            margin-top: 10px;
          }
          .username {
            font-size: 25px;
            font-style: normal;
            font-weight: 600;
          }
        }
        .write-comment {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          input {
            width: 84.5%;
            background-color: $darkgray;
            margin-top: 35px;
            height: 50px;
            color: $fontcol;
            font-size: 20px;
            padding-left: 25px;
            padding-right: 80px;
            &::placeholder {
              font-size: 20px;
              font-style: normal;
              font-weight: 400;
            }
          }
          .send-comment {
            margin: 0 0 0 auto;
            display: flex;
            align-items: center;
            img {
              position: relative;
              right: 0px;
              top: 16px;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
