<!-- login-page.component.html -->

<div class="auth-block" style="overflow: hidden">
  <div class="auth-container">
    <p>Авторизация на сайте</p>
    <div class="auth-input-block">
      <input
        class="Login"
        [(ngModel)]="username"
        type="text"
        placeholder="Логин"
      />
      <input
        class="Password"
        [(ngModel)]="password"
        type="password"
        placeholder="Пароль"
      />
    </div>
    <div class="auth-bottom-buttons-block">
      <button class="Auth" (click)="loginUser()">Авторизоваться</button>
      <button class="Register" routerLink="/Register">
        Зарегистрироваться
      </button>
    </div>
  </div>
</div>
