<div class="auth-block" style="overflow: hidden">
  <div class="auth-container">
    <p>Авторизация на сайте</p>
    <div class="auth-input-block">
      <input
        class="Login"
        type="text"
        placeholder="Логин"
        (input)="onInput($event)"
      />
      <input
        class="Password"
        type="password"
        placeholder="Пароль"
        (input)="onInput($event)"
      />
    </div>
    <div class="auth-bottom-buttons-block">
      <button class="Auth">Авторизоваться</button>
      <button class="Register" routerLink="/Register">
        Зарегистрироваться
      </button>
    </div>
  </div>
</div>
