@import "../../styles.scss";

.admin-panel-block {
  background-color: $darkgray;
  min-height: 100vh;
  .admin-panel-container {
    padding: 50px;
    @media screen and (max-width: 925px) {
      padding: 15px;
    }
    .return-main {
      background-color: $blue;
      border-radius: 13px;
      padding: 7px 13px;
      font-size: 15px;
      color: $fontcol;
    }
    .add-art-txt {
      color: $fontcol;
      margin-top: 40px;
      font-size: 25px;
    }
    hr {
      border-color: $blue;
      width: 210px;
      position: absolute;
      left: 50;
    }
    .small-publish-block {
      margin-top: 60px;
      p {
        color: $fontcol;
        font-size: 22px;
      }
      .big-small-photo-txt {
        display: flex;
        align-items: center;
        @media screen and (max-width: 925px) {
          flex-direction: column;
          align-items: flex-start;
        }
      }
      .drop-small-photo {
        background-color: $lightgray;
        width: 130px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 13px;
        cursor: pointer;
        margin-top: 20px;
        img {
          width: 30px;
          height: 30px;
          margin-right: 13px;
        }
        p {
          font-size: 18px;
        }
      }
      .inputs-to-add-block {
        display: flex;
        flex-direction: column;
        input {
          margin-top: 20px;
          height: 30px;
          width: 798px;
          background-color: $lightgray;
          border-radius: 10px;
          color: $fontcol;
          padding: 10px;
          font-size: 18px;
          padding-left: 20px;
          margin-bottom: 20px;
          @media screen and (max-width: 925px) {
            width: 300px;
          }
        }
        .put-name {
          margin-bottom: 0px;
        }
      }
    }
  }
}

textarea {
  background-color: $lightgray;
  border-radius: 10px;
  border: none;
  outline: none;
  color: white;
  resize: none;
  font-size: 18px;
  padding: 20px;
  @media screen and (max-width: 925px) {
    width: 290px;
  }
  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $blue;
    border-radius: 6px;
  }

  &::-webkit-scrollbar-track {
    background-color: unset;
  }
}

.big-photo-block {
  margin-left: 100px;
  @media screen and (max-width: 925px) {
    margin-left: 0;
    margin-top: 40px;
  }
}

.create {
  margin-top: 30px;
  background-color: $blue;
  color: white;
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 10px;
}

// adaptive
